body {
  font-family: "Noto Sans TC", sans-serif;
  margin: 0;
  height: 100vh;
  max-width: 430px;
  background-color: #000;
  margin: auto;
}

.container {
  background: linear-gradient(347deg, #000 11.11%, #3F3F3F 123.69%);
  height: 100%;
}

.c__banner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.c__banner img {
  width: 100%;
}

h4, h5, h3 {
  margin: 0px;
}

.c__info {
  margin: 16px 12px 20px 12px;
  display: flex;
}
.c__info-user, .c__info-check {
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  border-radius: 100px;
}
.c__info-user {
  width: 100%;
  margin-right: 12px;
}
.c__info-user img {
  margin-right: 4px;
}
.c__info-check {
  width: 100%;
  max-width: 120px;
}
.c__info h5 {
  line-height: 20px;
  color: #F5C273;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
}
.c__info h5:nth-child(2), .c__info h5:nth-child(3) {
  border-right: 1px solid rgba(245, 194, 115, 0.2);
  padding-right: 14px;
  margin-right: 10px;
}

.c__code {
  display: flex;
  align-items: center;
  margin: 0 16px;
  justify-content: space-between;
}
.c__code h4 {
  color: rgba(255, 255, 255, 0.87);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 6px;
}
.c__code h4:first-child {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #474747;
}
.c__code span {
  padding-right: 16px;
}

.c__video {
  margin: 16px 12px;
}
.c__video h3 {
  color: rgba(255, 255, 255, 0.87);
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 5px;
  margin-bottom: 8px;
  margin-left: 4px;
}
.c__video .video {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2px;
  column-gap: 2px;
}
.c__video .video img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
